@import url(http://fonts.googleapis.com/css?family=Pacifico);
$base-font-size: 16 !default;

@function em($px,$base: $base-font-size) {
    @return ($px / $base) * 1em;
}
@function multiple($first, $second) {
    @return ($first * $second);
}
@mixin margin($px){
    margin-top: $px !important;
    margin-left: $px !important;
    margin-bottom: $px !important;
    margin-right: $px !important;
}
@mixin padding($px){
    padding-top: $px !important;
    padding-left: $px !important;
    padding-bottom: $px !important;
    padding-right: $px !important;
}
@mixin border-radius($px){
    border-radius: $px;
    -webkit-border-radius: $px;
    -moz-border-radius: $px;
    -o-border-radius: $px;
}

@mixin border($px){
    border-top: $px;
    border-left: $px;
    border-right: $px;
    border-bottom: $px;
}

body, html{
    height: 100% !important;
}
.margin-reset{
    margin: 0 0 !important;
}
.padding-reset{
    padding: 0 0 !important;
}
@for $i from 0 through 10 {
  .padding-all-#{$i} { 
    @include padding(multiple(1.5px, $i));
    }
}
@for $i from 0 through 10 {
  .margin-all-#{$i} { 
    @include margin(multiple(1.5px, $i));
    }
}
.width-100 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.side-bar{
    @extend body;
    width: 250px  !important;
    border: 1px solid;
    background-color: #273140;
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;

    .sidebar-name {
        margin: 0;
        padding: 0;
        list-style: none;
        > li {
            display: inline-block;
            width: 100%;
            margin: 7px 0; 
            > a {
                text-align: center;
                position: relative;
                display: block;
                padding: 15px 0px !important;
                font-size: em(30);
                letter-spacing: em(2);
                text-decoration: none;
                color: #768C99 !important;
                font-family: 'Pacifico', cursive;
                color: #FFFFFF !important;
            }
        }
    }
    .sidebar-list {
        margin: 0;
        padding: 0;
        list-style: none;
        > li{ 
            display: inline-block;
            border-bottom: 1px solid #1A222F;
            width: 100%;
            .active, &:hover {
                background-color: #1A222F;
                color: #4FC1EE !important;
            } 
            > a {
                position: relative;
                display: block;
                padding: 15px 0px !important;
                padding-left: 30px !important;
                font-size: em(15);
                font-weight: bold;
                letter-spacing: em(1);
                text-decoration: none;
                color: #768C99 !important;

                &:hover .arrow{
                display: block;
                }
                > .arrow {
                 width: 0;
                 height: 0;
                 border-top: 10px solid transparent;
                 border-bottom: 10px solid transparent;
                 border-left: 10px solid #4FC1EE;
                 position: absolute;
                 left: 0px;
                 display: none;
                }
              }
            > .active .arrow {
                display: block;
            }
        }
    }
}
.content-bar {
    overflow: hidden;
    @extend body;
}

.icon-bar {
    background-color: #44BDEC !important;
}
.navbar-toggle{
    border: 0px;
    background-color:white !important;
    &:active, &:hover{
        background-color: #C2EAF9 !important;
    }
}
.btn {

    &:focus{
        @include border(1px solid white);
        outline: 0 !important;
    }
}
.btn-lightblue{
    background-color: #4FC1EE !important;
    color: #EDF7FD !important;
    font-weight: bold;
}

.btn-gray{
    background-color: #EBF3FA !important;
    color: #798E9C;
    font-weight: bold;
}
.btn-round{
    @include border-radius(25px);
}
