@import url(http://fonts.googleapis.com/css?family=Pacifico);
body, .side-bar, .content-bar, html { height: 100% !important; }

.margin-reset { margin: 0 0 !important; }

.padding-reset { padding: 0 0 !important; }

.padding-all-0 { padding-top: 0px !important; padding-left: 0px !important; padding-bottom: 0px !important; padding-right: 0px !important; }

.padding-all-1 { padding-top: 1.5px !important; padding-left: 1.5px !important; padding-bottom: 1.5px !important; padding-right: 1.5px !important; }

.padding-all-2 { padding-top: 3px !important; padding-left: 3px !important; padding-bottom: 3px !important; padding-right: 3px !important; }

.padding-all-3 { padding-top: 4.5px !important; padding-left: 4.5px !important; padding-bottom: 4.5px !important; padding-right: 4.5px !important; }

.padding-all-4 { padding-top: 6px !important; padding-left: 6px !important; padding-bottom: 6px !important; padding-right: 6px !important; }

.padding-all-5 { padding-top: 7.5px !important; padding-left: 7.5px !important; padding-bottom: 7.5px !important; padding-right: 7.5px !important; }

.padding-all-6 { padding-top: 9px !important; padding-left: 9px !important; padding-bottom: 9px !important; padding-right: 9px !important; }

.padding-all-7 { padding-top: 10.5px !important; padding-left: 10.5px !important; padding-bottom: 10.5px !important; padding-right: 10.5px !important; }

.padding-all-8 { padding-top: 12px !important; padding-left: 12px !important; padding-bottom: 12px !important; padding-right: 12px !important; }

.padding-all-9 { padding-top: 13.5px !important; padding-left: 13.5px !important; padding-bottom: 13.5px !important; padding-right: 13.5px !important; }

.padding-all-10 { padding-top: 15px !important; padding-left: 15px !important; padding-bottom: 15px !important; padding-right: 15px !important; }

.margin-all-0 { margin-top: 0px !important; margin-left: 0px !important; margin-bottom: 0px !important; margin-right: 0px !important; }

.margin-all-1 { margin-top: 1.5px !important; margin-left: 1.5px !important; margin-bottom: 1.5px !important; margin-right: 1.5px !important; }

.margin-all-2 { margin-top: 3px !important; margin-left: 3px !important; margin-bottom: 3px !important; margin-right: 3px !important; }

.margin-all-3 { margin-top: 4.5px !important; margin-left: 4.5px !important; margin-bottom: 4.5px !important; margin-right: 4.5px !important; }

.margin-all-4 { margin-top: 6px !important; margin-left: 6px !important; margin-bottom: 6px !important; margin-right: 6px !important; }

.margin-all-5 { margin-top: 7.5px !important; margin-left: 7.5px !important; margin-bottom: 7.5px !important; margin-right: 7.5px !important; }

.margin-all-6 { margin-top: 9px !important; margin-left: 9px !important; margin-bottom: 9px !important; margin-right: 9px !important; }

.margin-all-7 { margin-top: 10.5px !important; margin-left: 10.5px !important; margin-bottom: 10.5px !important; margin-right: 10.5px !important; }

.margin-all-8 { margin-top: 12px !important; margin-left: 12px !important; margin-bottom: 12px !important; margin-right: 12px !important; }

.margin-all-9 { margin-top: 13.5px !important; margin-left: 13.5px !important; margin-bottom: 13.5px !important; margin-right: 13.5px !important; }

.margin-all-10 { margin-top: 15px !important; margin-left: 15px !important; margin-bottom: 15px !important; margin-right: 15px !important; }

.width-100 { width: 100%; min-width: 100%; max-width: 100%; }

.side-bar { width: 250px  !important; border: 1px solid; background-color: #273140; overflow: hidden; float: left; top: 0; left: 0; }
.side-bar .sidebar-name { margin: 0; padding: 0; list-style: none; }
.side-bar .sidebar-name > li { display: inline-block; width: 100%; margin: 7px 0; }
.side-bar .sidebar-name > li > a { text-align: center; position: relative; display: block; padding: 15px 0px !important; font-size: 1.875em; letter-spacing: 0.125em; text-decoration: none; color: #768C99 !important; font-family: 'Pacifico', cursive; color: #FFFFFF !important; }
.side-bar .sidebar-list { margin: 0; padding: 0; list-style: none; }
.side-bar .sidebar-list > li { display: inline-block; border-bottom: 1px solid #1A222F; width: 100%; }
.side-bar .sidebar-list > li .active, .side-bar .sidebar-list > li:hover { background-color: #1A222F; color: #4FC1EE !important; }
.side-bar .sidebar-list > li > a { position: relative; display: block; padding: 15px 0px !important; padding-left: 30px !important; font-size: 0.9375em; font-weight: bold; letter-spacing: 0.0625em; text-decoration: none; color: #768C99 !important; }
.side-bar .sidebar-list > li > a:hover .arrow { display: block; }
.side-bar .sidebar-list > li > a > .arrow { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #4FC1EE; position: absolute; left: 0px; display: none; }
.side-bar .sidebar-list > li > .active .arrow { display: block; }

.content-bar { overflow: hidden; }

.icon-bar { background-color: #44BDEC !important; }

.navbar-toggle { border: 0px; background-color: white !important; }
.navbar-toggle:active, .navbar-toggle:hover { background-color: #C2EAF9 !important; }

.btn:focus { border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white; outline: 0px auto -webkit-focus-ring-color !important; }

.btn-lightblue { background-color: #4FC1EE !important; color: #EDF7FD !important; font-weight: bold; }

.btn-gray { background-color: #EBF3FA !important; color: #4F697A; font-weight: bold; }

.btn-round { border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; -o-border-radius: 25px; }

/*# sourceMappingURL=app.css.map */
